$color-navy: #4d617d;
$color-gray: #767676;
$color-gray-light: #A9A9A9;
$color-white: #FFF;
$input-height: 40px;


.text {
  &_color-gray {
    color: $color-gray
  }

  &_font-normal-size {
    font-weight: normal
  }

  &_reseted-margin {
    margin: 0
  }

  &_line-height {
    line-height: 30px;
  }
}
