<input ng-model="$ctrl.selectedOption"
       ng-blur="$ctrl.onInput({value:$ctrl.selectedOption, name:$ctrl.inputName})"
       type="radio"
       id='{{$ctrl.optionsId}}'
       ng-value="$ctrl.inputTitle"
       name="{{$ctrl.inputName}}"
       ng-class="
        {
            'radio-input' : true,
            'radio-input_indent' : $ctrl.inputIndent
        }
">
<label ng-class="
    {
        'radio-input' : true,
        'radio-input_color-{{$ctrl.inputColor}}' : true,
        'radio-input_width-{{$ctrl.inputWidth}}' : true
    }" for="{{$ctrl.optionsId}}">{{$ctrl.inputTitle}}</label>
