<div ng-class="{'radio-input' : true, 'input input-block_right-side-indent' : true, 'input-block__row': $ctrl.row, 'input-block_space-between': true, 'input-block__column':$ctrl.column}">
    <div class="input__field_size_m radio-input__border input__field_border_t input_inner">
        <input type="radio" id='yes' name="impairment" class="input__text-color"><label
            class="radio-input_fill-input input__text-color" for="yes">Yes</label>
    </div>
    <div class="input__field_size_m radio-input__border input__field_border_t input_inner input_left-indent">
        <input type="radio" id='no' name="impairment" class="input__text-color"><label
            class="radio-input_fill-input input__text-color" for="no">No</label>
    </div>
</div>