$color-navy: #4d617d;
$color-gray: #767676;
$color-gray-light: #A9A9A9;
$color-white: #FFF;
$input-height: 40px;

.field {
  display: flex;
  padding: 0;

  &_border-thin {
    border: 1px solid $color-gray-light;
    border-radius: 3px
  }

  &_border-hidden {
    border: 0;
    padding: 0;
  }

  &_text-color {
    color: $color-gray
  }

  &_text-right-indent-s {
    text-indent: 5px;
  }

  &_text-right-indent-m {
    text-indent: 11px;
  }

  &_text-right-indent-xl {
    text-indent: 30px;
  }

  &_size-xl {
    height: $input-height;
    width: 260px;
  }

  &_size-l {
    height: $input-height;
    width: 160px;
  }

  &_size-s {
    height: $input-height;
    width: 83px;
  }

  &_size-xs {
    height: $input-height;
    width: 70px;
  }

  &_box-sizing {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
  }
}