<input ng-model="$ctrl.inputValue" ng-class="{'field' : true,
        'field_border-thin': $ctrl.borderThin,
        'field_border-hidden': $ctrl.borderHidden,
        'field_text-color': $ctrl.textColor,
        'field_text-right-indent-{{$ctrl.indentSize}}': true,
        'field_size-{{$ctrl.size}}': true,
        'field_box-sizing': true
        }"
       ng-attr-name="{{$ctrl.inputName}}"
       type="text"
       placeholder="{{$ctrl.placeholder}}"
       ng-change="$ctrl.onInput({value:$ctrl.inputValue, name:$ctrl.inputName})">

