<select
        ng-options="option.name for option in $ctrl.options"
        ng-change="$ctrl.onInput({value:$ctrl.item.value, name:$ctrl.inputName})"
        ng-attr-name="{{$ctrl.inputName}}"
        ng-model="$ctrl.item"
        ng-class="{
    'field' : true,
    'field_box-sizing': true,
    'field_text-right-indent-{{$ctrl.textIndent}}' : true,
    'field_border-thin' : $ctrl.borderThin,
    'field_size-{{$ctrl.size}}': true,
    'field_text-color': $ctrl.textColor
}">
    <option value="">{{$ctrl.optionTitle}}</option>
</select>


