<select ng-class="{
    'field' : true,
    'field_box-sizing': true,
    'field_text-right-indent-{{$ctrl.textIndent}}' : true,
    'field_border-thin' : $ctrl.borderThin,
    'field_size-{{$ctrl.size}}': true,
    'field_text-color': $ctrl.textColor
}">
    <!--    <option ng-repeat="value in $ctrl.form" selected disabled hidden>{{$ctrl.optionTitle}}</option>-->
    <option value="0" label="{{$ctrl.optionTitle}}">{{$ctrl.optionTitle}}</option>
    <option ng-repeat="value in $ctrl.form" value="{{value}}" on-select="$ctrl.onSelect(value)">{{value}}</option>
</select>