$color-navy: #4d617d;
$color-gray: #767676;
$color-gray-light: #A9A9A9;
$color-white: #FFF;
$input-height: 40px;
.block-text {
  &__info {
    display: inline-block;
    margin: 5px auto 5px 30px;

    &_text-color {
      &-white {
        color: $color-white;
      }

      &-navy {
        color: $color-navy;
      }
    }
  }

  &_info-block {
    display: block;
    margin-left: 30px;
  }

  &__info_uppercased {
    text-transform: uppercase;
  }

  &_navy {
    background-color: $color-navy;
  }
}