.page-header {
  display: flex;

  &__container {
    flex-direction: row;
  }

  &__logo {
    align-items: flex-start;
    margin-left: 30px;
  }

  &__logo-link {
    display: block;
    height: 30px;
    width: 75px;
  }

  &__image {
    width: auto;
    height: 100%;
  }

  &_indent {
    margin-bottom: 20px;
  }

}