<div ng-class="{
    'wrapper' : true,
    'wrapper_right-edge' : $ctrl.rightEdge,
    'wrapper_bottom-indent' : $ctrl.bottomIndent,
    'wrapper_width-xl': $ctrl.widthXl ,
    'wrapper_height-xl' : $ctrl.heightXl,
    'wrapper_distribute-evenly': $ctrl.distributeEvenly,
    'wrapper_align-orthogonal-axis': $ctrl.alignOrthogonalAxis,
    'wrapper_column': $ctrl.column,
    'wrapper_left-side-indent': $ctrl.leftSideIndent,
    'wrapper_right-side-indent': $ctrl.rightSideIndent,
    'wrapper_center' : $ctrl.center
}" ng-transclude>
</div>