$color-navy: #4d617d;
$color-gray: #767676;
$color-gray-light: #A9A9A9;
$color-white: #FFF;
$input-height: 40px;

.block-header {
  padding-left: 30px;
  padding-bottom: 21px;

  &_top-indent {
    padding-top: 21px;
  }

  &_navy {
    background-color: #4d617d;
  }
}

